@import "tailwindcss";

:root {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --background: var(--background);
  --foreground: var(--foreground);
  --card: var(--card);
  --card-foreground: var(--card-foreground);
  --popover: var(--popover);
  --popover-foreground: var(--popover-foreground);
  --primary: var(--primary);
  --primary-foreground: var(--primary-foreground);
  --secondary: var(--secondary);
  --secondary-foreground: var(--secondary-foreground);
  --muted: var(--muted);
  --muted-foreground: var(--muted-foreground);
  --accent: var(--accent);
  --accent-foreground: var(--accent-foreground);
  --destructive: var(--destructive);
  --destructive-foreground: var(--destructive-foreground);
  --border: var(--border);
  --input: var(--input);
  --ring: var(--ring);
}

@layer base {
  body {
    @apply bg-[var(--background)] text-[var(--foreground)];
    background-image:
      radial-gradient(
        circle at 50% 0%,
        rgba(0, 255, 255, 0.1) 0%,
        transparent 50%
      ),
      radial-gradient(
        circle at 100% 100%,
        rgba(128, 0, 255, 0.1) 0%,
        transparent 50%
      );
  }
}
